<div class="card">
    <div class="card-header bi bi-chat-dots"> {{#comments.size}}{{comments.size}}{{/comments.size}} Comments</div>

    <ul class="list-group-flush">
        {{#comments}}
            <li id="{{commentId}}" class="list-group-item">
                <span>
                    <span style="font-size: small">{{author}}</span>
                    <span style="font-size: xx-small">{{modifiedDate}}</span>
                </span>
                <a type="button" data-toggle="collapse"
                   data-target=".multi-collapse-{{commentId}}"
                   class="bi bi-pencil-square">수정</a>

                <a type="button" id="btn-comment-delete" class="bi bi-x-square">삭제</a>

                <p class="collapse multi-collapse-{{commentId}} show">{{content}}</p>

                <form class="collapse multi-collapse-{{commentId}}">
                    <input type="hidden" id="commentId" value="{{commentId}}">
                    <input type="hidden" id="postId" value="{{postId}}">
                    <div class="form-group">
                        <textarea class="form-control" id="comment-content-update" rows="4">{{content}}</textarea>
                    </div>
                    <button type="button" id="btn-comment-update" class="bi bi-pencil-square">
                        수정
                    </button>
                </form>

            </li>
        {{/comments}}
    </ul>
</div>