{{>layout/header}}

<div class="col-md-12">
    <div class="col-md-6">
        <h1>회원가입</h1>
        <form>
            <div class="form-group">
                <label for="email">email</label>
                <input type="text" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="name">닉네임</label>
                <input type="text" class="form-control" id="name">
            </div>
            <div class="form-group">
                <label for="password">비밀번호</label>
                <input type="password" class="form-control" id="password">
            </div>
            <div class="form-group">
                <label for="confirmPassword">비밀번호 확인</label>
                <input type="password" class="form-control" id="confirmPassword">
            </div>
            <a href="/" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-register">회원가입</button>
        </form>
    </div>
</div>
{{>layout/footer}}